@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    display: inline;
}

.jumbroton{
    text-align: center;
    padding: 60px;
    font-size: 20px;
    background-color: #1e56a0;
    color: white;
}

.jumbroton > h1{
    text-shadow: 3px 3px 5px black;
    line-height: 25px;
}
.jumbroton > p{
    font-style: oblique;
    font-weight: 300;
    line-height: 0;
    text-shadow: 3px 4px 4px black ;
    background-color: #163172;
}

nav {
    background-color: #163172;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a{
    font-weight: 400;
    text-decoration: none;
    color: aliceblue;
}

nav li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
}

nav a:hover{
    font-weight: bold;
    color: blue;
}

main{
    overflow: auto;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    height: 80%;
    border: 2px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    float: left;
    margin-left: 10px;
}

.box{
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: justify;
    padding: 20px;
    margin-top: 80px; 
}

.box > p{
    text-indent: 5%;
    line-height: 27px;

}
#Deskripsi{
    margin-top: 39px;
}

#Deskripsi > p{
    line-height: 27px;
    margin: 10px;
}

.picture{
    width: 80%;
    padding-left: 200px;
}

.featured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

#Peminatan > p{
    line-height: 27px;
    margin: 10px;
}

.flex-box-container{
    display: flex;
    flex-direction: column;
    border: 2px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.flexbox{
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: justify;
    padding: 20px;
    margin-top: 30px;
}

.flexbox > p{
    text-indent: 5%;
    line-height: 27px;
}

aside{
    margin-top: 60px;
    float: right;
    width: 27%;
    height: 600px;
    box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    border: 2px solid #999;
}

.profile-img > img{
    border: 8px double #999;
}

table{
    padding: 5px;
    line-height: 30px;
    border-collapse: collapse;
}

table, th, td{
    padding: 5px;
    margin: 0 auto;
}

footer{
    background-color: #163172;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-weight: lighter;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
  }